{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <title>Домашняя работа "Начало Твиттера"</title>
</head>
<body>
<div class="ui attached stackable menu">
    <div class="ui container">
        <a class="item" href="{% url 'home' %}">
            <i class=""></i> Home
        </a>
        <a class="item" href="{% url 'new_page' %}">
            <i class=""></i> Список твитов
        </a>
        {% if user.is_authenticated %}
        <a class="right item">
            <i class=""></i> {{ user.username }}
            <a href="{% url 'logout' %}" class="item">Выход</a>
        </a>
        {% else %}

        <a class="right item" href="{% url 'login' %}">Вход</a>

        <a class="item" href="{% url 'register' %}">
            <i class=""></i> Регистрация
        </a>
        {% endif %}

    </div>
</div>

{% block content %}
    <h1 align="center">Всем привет!</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'tweet_page' %}" class="ui primary button">DO TWEET</a>
        <!--<form method="post">
        {% csrf_token %}

        {{ form.as_p }}
            <input type="submit" value="Твитнуть">
        </form>-->
        {% else %}
    <h1 align="center">Для совершения "Твита" Вам необходимо войти или зарегистрироваться</h1>
    {% endif %}


{% endblock %}
</body>
</html>